<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>MyWishes</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css" type="text/css">
        <link rel="icon" href="https://th.bing.com/th/id/OIG.didB9bWiNa1tFf3Z3ny1?w=270&h=270&c=6&r=0&o=5&dpr=1.3&pid=ImgGn">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>        
    </head>
    <body class="bg-image">
      <!-- #24394E -->
      <div class="div-form">
          <div class="div-form-title">
            {{#sucesso}}
                    <div class="alert alert-success">
                      Usuário cadastrado com sucesso!
                    </div>
                {{/sucesso}}
                {{#erro}}
                    <div class="alert alert-danger">
                      Erro ao cadastrar usuário!
                    </div>
                {{/erro}}
                {{#erro_autenticacao}}
                  <div class="alert alert-danger">
                    Erro ao autenticar usuário!
                  </div>
                {{/erro_autenticacao}}
              <div class="div-title">
                <img class="img-logo-form" alt="logo do site" src="https://th.bing.com/th/id/OIG.didB9bWiNa1tFf3Z3ny1?w=270&h=270&c=6&r=0&o=5&dpr=1.3&pid=ImgGn">
                <h1>Login</h1>
              </div>
              <form action="/autenticar" method="post">
                <div class="mb-1 mt-1">
                  <label for="email" class="form-label">Email:</label>
                  <input type="email" class="form-control" id="email" placeholder="Informe o e-mail" name="email">
                </div>
                <div class="mb-1">
                  <label for="senha" class="form-label">Senha:</label>
                  <input type="password" placeholder="Informe a Senha" class="form-control" id="senha" name="senha">
                </div>
                <p>Não possui cadastro? <a class="a-link" href="/Cadastrar">Cadastre-se</a></p>
                <button type="submit" id="btn-login" class="btn btn-primary w-100">Entrar</button>
            </form> 
          </div>
      </div>
    </body>
</html>