<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plateful</title>
    <base href="/">
    <!-- <link rel="icon" href="https://th.bing.com/th/id/OIG.didB9bWiNa1tFf3Z3ny1?w=270&h=270&c=6&r=0&o=5&dpr=1.3&pid=ImgGn"> -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <div class="div-nav">
      <div class="div-font-logo">
        <div>
            <!-- <img class="img-logo-form" id="img-sidebar" alt="logo do site" src="https://th.bing.com/th/id/OIG.didB9bWiNa1tFf3Z3ny1?w=270&h=270&c=6&r=0&o=5&dpr=1.3&pid=ImgGn"> -->
        </div>
        <div>
            <h2>Plateful</h2>
        </div>
      </div>
      <div class="div-nav-ul">
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/home">
                <p>Estabelecimentos</p>
              </a>
            </li>
            {{#usuario}}
            <li class="nav-item">
              <a class="nav-link" href="/editar_perfil/{{id_user}}"><p>Editar Perfil</p></a>
            </li>
            {{/usuario}}
            <li id="li-sair" class="nav-item">
              <a class="nav-link" href="/sair"><p>Sair</p></a>            
            </li>
          </ul>
      </div>
    </div>
    <div class="main-content">
      <div class="div-line-h1-btn">
        <div>
            {{#estabelecimento}}
          <h1>Lista de Itens - {{nome}}</h1>
          {{/estabelecimento}}
        </div>
        <div>
          <button type="button" class="btn btn-primary" id="btn-addProduct">Adicionar item</button>
        </div>
      </div>    
      <div class="row my-4">
        <div class="col-3 mt-3" id="div-cards">
          {{#itens}}
            <div class="card">
                <h5 class="card-header">{{titulo}}</h5>
                <div class="card-body">
                    <div class="div-price-btns">
                      <div>
                        <p class="card-text">R$ {{preco}}</p>
                      </div>
                      <div>
                        <p class="card-text">Nota: {{nota}}</p>
                      </div>
                      <div class="btns-edit-del">
                        <div>
                          <form action="/editar_item/{{id_estabelecimento}}/{{id_item}}/" method="get">
                            <button type="submit" class="btn btn-primary btn-sm">
                              <span aria-hidden="true">✏️</span>
                            </button>
                          </form> 
                        </div>
                        <div>
                          <form action="/excluir_item/{{id_estabelecimento}}/{{id_item}}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">
                              <span aria-hidden="true">✖️</span>
                            </button>
                          </form> 
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            {{/itens}}
        </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cadastre um item</h5>
            <button type="button" id="close_modal" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {{#estabelecimento}}
            <form action="/cadastrar_item/{{id_estabelecimento}}" method="post">
              <div class="mb-1 mt-1">
                <label for="titulo" class="form-label">Titulo:</label>
                <input required type="text" class="form-control" id="titulo" placeholder="Informe o titulo do produto" name="titulo">
              </div>
              <div class="mb-1">
                <label for="preco" class="form-label">Preco:</label>
                <input type="number" required min="0" placeholder="Informe o preco" class="form-control" id="preco" name="preco">
              </div>
              <div class="mb-1">
                <label for="nota" class="form-label">Nota:</label>
                <input required type="number" min="0" max="5" placeholder="Informe a nota" class="form-control" id="nota" name="nota">
              </div>
              <button type="submit" id="btn-login" class="btn btn-primary w-100">Adicionar</button>
          </form> 
          {{/estabelecimento}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript">
    $(document).ready(function(){
        $(function () {
          $("#btn-addProduct").click(function () {
              $("#exampleModal").modal("show");
          }); 
        });
        $(function () {
          $("#close_modal").click(function () {
              $("#exampleModal").modal("hide");
          }); 
        });
    });
    
</script>
</body>

</html>